#headline{
	width:100%;
	min-width: 1263px;
	height:250px;
	background: linear-gradient(to right bottom ,rgba(0,0,0,0.7) 0,rgba(255,255,255,0) 80%),url(../img/4.jpg) no-repeat center;
	/*background-size:1920px 600px ;*/
	position: relative;
}
#headline .center{
	width: 1263px;
	margin: 0 auto;
	color: #eee;
	padding:100px 0 0 50px;
}
#headline .center p{
	font-size: 30px;
	letter-spacing: 1px;
}
#headline .center span{
	font-size:18px ;
	letter-spacing: 1px;
	
	
}

#container{
	width:1263px;
	height:1200px;
	margin: 0 auto;
	margin-top: 30px;
}
#container .sidebar{
	width:320px;
	height:1200px;
	float: right;
	
}
#container .lists{
	width:920px;
	height:1200px;
	float: left;
}

.infor{
	height:45px;
	line-height: 45px;
	background: #eee;
	margin: 0 0 20px 0;
}
.infor .left{
	float: left;
	display: inline-block;
}
.infor .left li{
	display: inline-block;
	width:150px;
	height:43px;
	line-height: 43px;
	text-align: center;
}
.infor .left li:first-child{
	background: #FFFFFF;
	border-top: 2px solid #458b00;
	position: relative;
	left: 1px;
	
}
.infor .right{
	float: right;
	display: inline-block;
	padding: 0 20px 0 0;
}
.infor .right li{
	display: inline-block;
	width:60px;
	height:45px;
	text-align: center;
	
}
.infor .right li a{
	padding: 3px 8px;
	color: #666;
}
.infor .right li a.select,.infor .right a:hover{
	background: green;
	color: white;
}

/*旅游区*/
.tours{
	display: inline-block;
	width:918px;
	/*background: #ccc;*/
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	position: relative;
}
.tours img{
	width:380px;
	height:230px;
	float: left;
}
.tours figcaption{
	width:530px;
	height:230px;
	float: left;
}

.tours footer{
	width:530px;
	height:35px;
	line-height: 35px;
	color: #666666;
	text-indent: 25px;
	letter-spacing: 1px;
	background: #fafafa;
	position: absolute;
	bottom: 0;
}
.tours time{
	color: #458B00;
}
.tours hgroup{
	width:300px;
	
}
.tours h2{
	font-size: 24px;
	color: #333333;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	
}
.tours h3{
	font-size: 16px;
	line-height: 1.5;
	color: #666;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	
}
.tours ol{
	padding: 0 0 0 25px;
	color: #666666;
	line-height: 2;
}
.tours ol mark{
	background: #fff;
	border: 1px solid #458B00;
	border-radius: 4px;
	padding: 0.5px;
	color: #458B00;
}
.tours .buy{
	position: absolute;
	top: 55px;
	right: 30px;
}
.tours .price{
	color: #f60;
	font-size: 20px;
}
.tours .price strong{
	font-size: 36px;
}
.tours .price s{
	font-size: 16px;
	color: #999;
}
.tours .reserve{
	margin: 10px 0 0 0;
	
}
.tours .buy .reserve a{
	display: block;
	width:152px;
	height:40px;
	line-height: 40px;
	border-radius: 4px;
	background: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
	
}
.tours .type{
	width:90px;
	height:25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	background: #59B200;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.tours .disc{
	position: absolute;
	top: 0;
	right: 0;
	width:52px;
	height:52px;
	background: #ccc;
}
.tours .disc span{
	display: block;
	width:52px;
	height:52px;
	padding:5px 0 0 0 ;
	text-indent: 7px;
	font-size: 14px;
	color: #ff7a4d;
}






.sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
.sidebox h2{
	text-align: left;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1px;
	height:40px;
	line-height: 40px;
	text-indent: 8px;
	color: #666;
}
.tag{
	padding: 10px 0;
}
.tag li{
	display: inline-block;
	background: #eee;
	width:100px;
	height:35px;
	line-height: 35px;
	margin: 2px 0;
	color: #666;
}
.tag li a{
	display: block;
}
.tag a:hover{
	background: #458b00;
	color: white;
}
.figure{
	padding: 10px 0;
}
.figure figure{
	display: inline-block;
	color: #666;
	padding: 4px;
}
.figure figure img{
	width:140px;
	height:120px;
}
.box{
	padding: 10px 0;
}
.box li{
	display: inline-block;
	background: #eee;
	width:150px;
	height:35px;
	line-height: 35px;
	margin: 2px 0;
	color: #666;
}
.box a{
	display: block;
	text-align: left;
	text-indent: 30px;
	background: url(../img/31.jpg) no-repeat 5px 50%;
	background-size:20px 20px;
}
.box a:hover{
	background: rgba(120,120,120,1);
	color: white;
}

